In [87]:
import pandas as pd
import numpy as np

Kagglen ohjeita, vaatii toimenpiteitä että käytettävissä ->
import kagglehub
# Download latest version
path = kagglehub.dataset_download("balaka18/email-spam-classification-dataset-csv")
print("Path to dataset files:", path)

Omat ohjeet ->
Lataa dataset ja .cvs \python313\ kansion alle

In [88]:
# Subnet kokeilua
df = pd.read_csv("C:\Python313\Harkka_koodit\Harjoitukset_py\Analysoinnin_perusteet\emails.csv", sep=",")
# print(data)
# df.head()
# sanaa "the" käytetty enemmän kuin x kertaa
# subset_dataa = data1[data1['the'] > 120 ]
# print(subset_dataa)

<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
C:\Users\OMISTAJA\AppData\Local\Temp\ipykernel_17000\1818044868.py:2: SyntaxWarning: invalid escape sequence '\P'
  df = pd.read_csv("C:\Python313\Harkka_koodit\Harjoitukset_py\Analysoinnin_perusteet\emails.csv", sep=",")

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Columns: 3002 entries, Email No. to Prediction
dtypes: int64(3001), object(1)
memory usage: 118.5+ MB

In [91]:
x = 3000  # Number of rows
y = 20    # Number of columns
subset = df.iloc[:x, :y]
subset

,Email No.,the,to,ect,and,for,of,a,you,hou,in,on,is,this,enron,i,be,that,will,have
0,Email 1,0,0,1,0,0,0,2,0,0,0,0,1,0,0,2,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,18,21,13,0,1,61,4,2,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,4,2,0,0,0,8,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,1,5,9,2,0,16,2,0,0,1
4,Email 5,7,6,17,1,5,2,57,0,9,3,12,2,2,0,30,8,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,Email 2996,0,1,2,0,0,0,14,0,1,4,3,1,0,0,13,0,0,0,0
2996,Email 2997,5,6,9,9,3,7,85,1,4,21,8,2,1,1,52,5,0,3,2
2997,Email 2998,5,1,1,2,2,5,30,2,0,3,4,1,1,0,21,3,0,4,1
2998,Email 2999,9,9,4,6,3,3,78,3,1,5,8,9,4,1,43,4,3,3,2
2999,Email 3000,0,0,1,0,1,0,5,0,0,0,4,0,0,4,3,4,0,0,0