Spam email ryhmätyö

In [21]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"C:\Python313\Harkka_koodit\Harjoitukset_py\Analysoinnin_perusteet\emails.csv", sep=",")

Is it spam? 1 = yes, 0 = no

In [29]:
df_cleaned = df[df['Prediction'] != 0]
df_cleaned.to_csv('cleaned_file.csv', index=False)
dfclean = pd.read_csv(r'C:\Python313\Harkka_koodit\Harjoitukset_py\Analysoinnin_perusteet\cleaned_file.csv')
dfclean

,Email No.,enron,are,com,gas,deal,meter,hpl,please,any,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 6,0,2,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Email 8,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,1,0,1
2,Email 17,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,1
3,Email 18,0,6,7,0,0,0,0,1,3,...,0,0,0,0,0,0,0,3,0,1
4,Email 26,0,2,5,0,1,0,0,1,4,...,0,0,0,0,0,0,0,6,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,Email 5163,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1496,Email 5164,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1497,Email 5167,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1498,Email 5170,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1499,Email 5171,0,0,4,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1

In [30]:
common_words = [
    "a", "about", "all", "also", "and", "as", "at", "be", "because", "but", "by",
    "can", "come", "could", "day", "do", "even", "find", "first", "for", "from",
    "get", "give", "go", "have", "he", "her", "here", "him", "his", "how", "I",
    "if", "in", "into", "it", "its", "just", "know", "like", "look", "make",
    "man", "many", "me", "more", "my", "new", "no", "not", "now", "of", "on",
    "one", "only", "or", "other", "our", "out", "people", "say", "see", "she",
    "so", "some", "take", "tell", "than", "that", "the", "their", "them", "then",
    "there", "these", "they", "thing", "think", "this", "those", "time", "to",
    "two", "up", "use", "very", "want", "way", "we", "well", "what", "when",
    "which", "who", "will", "with", "would", "year", "you", "your", "re", "e",
    "ect", "hou", "is", "i", "s", "d", "an", "t", "j"
]
common_words_set = set(common_words)
dfclean = dfclean.loc[:, ~df.columns.isin(common_words_set)]
print(dfclean.columns)

Index(['Email No.', 'enron', 'are', 'com', 'gas', 'deal', 'meter', 'hpl',
       'please', 'any',
       ...
       'connevey', 'jay', 'valued', 'lay', 'infrastructure', 'military',
       'allowing', 'ff', 'dry', 'Prediction'],
      dtype='object', length=2892)

In [31]:
x = 3000  # Number of rows
y = 50    # Number of columns
subset = dfclean.iloc[:x, :y]
subset

,Email No.,enron,are,com,gas,deal,meter,hpl,please,any,...,texas,nom,energy,pec,questions,www,deals,volumes,pm,ena
0,Email 6,0,2,1,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
1,Email 8,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,Email 17,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Email 18,0,6,7,0,0,0,0,1,3,...,0,0,0,2,0,0,0,0,0,2
4,Email 26,0,2,5,0,1,0,0,1,4,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,Email 5163,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1496,Email 5164,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1497,Email 5167,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1498,Email 5170,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1499,Email 5171,0,0,4,0,1,0,0,1,0,...,0,0,0,1,0,3,0,0,0,0

In [32]:
columns_to_average = list(range(1,20))
column_sum = dfclean.iloc[:, columns_to_average].sum()

calc_avrg = column_sum / 3000
calc_avrg

enron        0.000000
are          0.769000
com          1.351333
gas          0.082667
deal         0.079667
meter        0.015667
hpl          0.001333
please       0.170333
any          0.563667
corp         0.066000
has          0.222000
was          0.163000
need         0.127667
forwarded    0.000333
may          0.152667
mmbtu        0.000000
should       0.063667
am           1.004667
price        0.254333
dtype: float64